.calendar {
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: calc(46vw - 64px);
    /* height: calc(96vh - 64px); */
    padding: 32px;
    border: 4px solid #aaa;
    border-radius: 16px;
    background-color: #222;
}

.calendar h1, h2 {
    text-align: center;
}

.year-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.arrow {
    width: 0; 
    height: 0; 
    background-color: transparent;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
    cursor: pointer;
}

.arrow-left {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent; 
    border-right: 1em solid #fff; 
    border-left: none;
}

.arrow-left:hover {
    border-right: 1em solid #ccc; 
}

.arrow-left:active {
    border-right: 1em solid #aaa; 
}

.arrow-right {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #fff;
    border-right: none;
}

.arrow-right:hover {
    border-left: 1em solid #ccc;
}

.arrow-right:active {
    border-left: 1em solid #aaa;
}

.month-container {
    display: flex;
    justify-content: center;
    margin: 6px;
}

.month-container h2 {
    width: 6em;
}

.month-container .arrow {
    margin-top: 0;
}

.week-day-names {
    display: grid;
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 13.29% 13.29% 13.29% 13.29% 13.29% 13.29% 13.29%;
    gap: 1%;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}

.week-day-names li {
    position: relative;
    background-color: #666;
    border-radius: 10px;
    padding: 0.3em;
}

.week-day-names li:nth-child(1) {
    background-color: hsl(0, 70, 77);
}
.week-day-names li:nth-child(2) {
    background-color: hsl(51.43, 70, 77);
}
.week-day-names li:nth-child(3) {
    background-color: hsl(102.87, 70, 77);
}
.week-day-names li:nth-child(4) {
    background-color: hsl(154.29, 70, 77);
}
.week-day-names li:nth-child(5) {
    background-color: hsl(205.72, 70, 77);
}
.week-day-names li:nth-child(6) {
    background-color: hsl(257.15, 70, 77);
}
.week-day-names li:nth-child(7) {
    background-color: hsl(308.58, 70, 77);
}

.date-cells-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 13.29% 13.29% 13.29% 13.29% 13.29% 13.29% 13.29%;
    grid-template-rows: 13.29% 13.29% 13.29% 13.29% 13.29%;
    gap: 1%;
}

/* --------------------- */

.date-cell {
    position: relative;
    width: calc(12% - 40px);
    background-color: #444;
    border: 2px solid #777;
    border-radius: 6px;
    padding: 2em;
    margin: 10px;
    text-align: right;
    cursor: pointer;
    transition: 120ms ease-in-out; 
}

.date-cell:hover {
    background-color: #555;
    border: 2px solid #888;
    transform: translate(0, -5px);
}

.date-cell:active {
    background-color: #484848;
    border: 2px solid #787878;
    transform: translate(0, -2px);
}

.date-cell-disabled {
    background-color: #2a2a2a;
    border: 2px solid #444;
    cursor: default;
}

.date-cell-disabled:hover {
    background-color: #2a2a2a;
    border: 2px solid #444;
    transform: translate(0, 0);
}

.date-cell-disabled:active {
    background-color: #2a2a2a;
    border: 2px solid #444;
    transform: translate(0, 0);
}