.date-cell {
    position: relative;
    width: calc(12% - 40px);
    background-color: #444;
    border: 2px solid #777;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 120ms ease-in-out; 
}

.date-cell:hover {
    background-color: #555;
    border: 2px solid #888;
    transform: translate(0, -5px);
}

.date-cell:active {
    background-color: #484848;
    border: 2px solid #787878;
    transform: translate(0, -2px);
}

.date-cell-disabled {
    background-color: #2a2a2a;
    border: 2px solid #444;
    cursor: default;
}

.date-cell-disabled:hover {
    background-color: #2a2a2a;
    border: 2px solid #444;
    transform: translate(0, 0);
}

.date-cell-disabled:active {
    background-color: #2a2a2a;
    border: 2px solid #444;
    transform: translate(0, 0);
}